.todosTracker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;    
  color: var(--color-5);
  font-weight: bold;
  background: var(--list-background);
  border: none;
  
  span, button {
    font-weight: 500;
  }
}