 *,
 *:after,
 *:before {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: monospace;
}

*::selection {
  color: white;
  background-color: black;  
}

body {
  background-color: var(--main-background);
}

@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

main.ui {
  @include flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  gap: 30px;
  align-items: flex-start;

  .header {
    @include flex;
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: 1.7em;
      color: white;
    }
  }
}

input {
  width: 100%;
  color: var(--text-color);
  border: none;
  outline: none;
  background-color: transparent;
}

input[type='checkbox'] { display: none; }
input[type='checkbox'] ~ .checkbox{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-5);
}

input:checked ~ .checkbox{
  background-color: black;
}

input::placeholder {
  color: var(--color-5);
  font-weight: bold;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .todo-form {
    @include flex;
    justify-content: flex-start;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
  }

  .col {
    height: auto;
    overflow: auto;
    border-radius: 8px;
  }

  .todo-list {
    @include flex; gap: 0;
    width: 100%;
    flex-direction: column;

    .todo {
      @include flex;
      width: 100%;
      padding: 18px;
      border-bottom: 1px solid var(--color-6);

      .checkbox button {
        display: block;
        width: 20px;
        height: 20px;
        visibility: hidden;
      }
    }
  }

  .todoInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;    
    color: var(--color-5);
    font-size: 1em;
    font-weight: 500;
    .info { font-size: 1em; }

    button {
      font-size: 0.8em;
      border: none;
    }
  }

  .action-list {
    @include flex;
    width: 100%;
    padding: 18px;
    border-radius: 8px;
    // font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .btn { font-size: 1em; }

  .action.btn {
    color: var(--color-5);
    font-weight: bolder;
    border: none;
    outline: none;
    background: transparent;
  }
}

li, form, .action-list, .todoInfo {
  border: none;
  background: var(--list-background);
}