@import "../../scss/config/mixins";

.todoDashboard {
  width: 100%;
  position: relative;
  @include flex ($gap: 1rem, $direction: column);
  
  .col {
    width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 6px;
  }

  .btn { font-size: 1rem; }
}